﻿@using Banker.Models
@using Banker.Helpers
@model List<Declaration>
@{
    ViewBag.Title = "Confirmation des transactions";
    ViewBag.Current = Request.Params["status"];
}


<div class="row">
    <div class="col-xs-12">
        <div class="box box-default">
            <div class="box-header">
                
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                        <div class="col-sm-12">
                            <table id="myTable" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                <thead>

                                    <tr role="row">
                                        <th>N° PANIER</th>
                                        <th>RAISON SOCIALE</th>
                                        <th>IFU</th>
                                        <th>TELEPHONE</th>
                                        <th>DATE DE SOUMISSION</th>
                                        <th>MONTANT</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Count > 0)
                                    {
                                        foreach (var d in Model)
                                        {
                                            <tr role="row" class="odd">
                                                <td>@d.CartId</td>
                                                <td>@d.Company.Nom</td>
                                                <td>@d.Company.IFU</td>
                                                <td></td>
                                                <td>@d.CreatedDate.Value.ToShortDateString()</td>
                                                <td>@PriceFormater.Format(d.Amount) F CFA</td>
                                                @if (d.Status == DeclarationStatus.PENDING)
                                                {
                                                    <td>
                                                        <button onclick="onBtnValidateClick(this)" data-assigned-id="@d.Id" class="btn btn-xs btn-primary"><i class="fa fa-check"></i>VALIDER</button>
                                                        <button onclick="onBtnRejectClick(this)" data-assigned-id="@d.Id" class="btn btn-xs btn-danger"><i class="fa fa-close"></i>REJETER</button>
                                                    </td>
                                                }
                                                else if(d.Status==DeclarationStatus.REJECTED)
                                                {
                                                    <td class="text-red">
                                                        Rejeté pour @d.RejectionReason
                                                    </td>
                                                }
                                                else if(d.Status==DeclarationStatus.APPROVED)
                                                {
                                                    <td class="text-green">
                                                        Approuvée par @d.Validator.Email
                                                    </td>
                                                }
                                                else if (d.Status == DeclarationStatus.CONFIRMED)
                                                {
                                                    <td>
                                                        Confirmé définitivement par @d.Validator.Email
                                                    </td>
                                                }

                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- /.box -->
        </div>
    </div>
</div>

<div class="modal fade" id="myModal1">
    <div class="modal-dialog" id="myModalBodyDiv1">
        
    </div>
</div>




@section scripts{
    <script src="~/AdminLTE/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminLTE/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
  $(function () {
    $('#myTable').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'info'        : true,
      'autoWidth'   : true
    })
  })
    </script>
    <script>

        var onBtnRejectClick = function (elem) {
            var id = $(elem).data('assigned-id');
            var url = "/BankOfficer/Confirmations/Reject?Id=" + id;

            $("#myModalBodyDiv1").load(url, function () {
                $("#myModal1").modal("show");
            })
        };

        var onBtnValidateClick = function (elem) {
            var id = $(elem).data('assigned-id');
            var url = "/BankOfficer/Confirmations/Confirm?Id=" + id;

            $("#myModalBodyDiv1").load(url, function () {
                $("#myModal1").modal("show");
            })
        };

    </script>




    }