﻿@model IEnumerable<ApplicationUser>
@using Banker.Models
@using Banker.Areas.BankAdmin.ViewModels

@{
    ViewBag.Title = "Liste des utilisateurs";
    ViewBag.Current = "users";
    int count = 1;
}

@section styles{
    <link href="~/AdminLTE/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}


@using (Html.BeginForm("Add", "Users" ))
{
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Ajouter un utilisateur</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("_AddBankUserPartial",ViewBag.PartialVM as AddUserVM)
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-flat btn-danger">Valider</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
}

<div class="row">

    @if ((bool?)TempData["addSuccess"] == true)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check"></i> Fichier chargé</h4>
            <b>@TempData["items"].ToString()</b> nouveau(x) dépot(s) ajouté(s) avec succès.
        </div>
    }
    @if ((bool?)TempData["addSuccess"] == false)
    {
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check"></i> Echec</h4>
            Une erreur est survenue lors de la lecture du fichier
        </div>
    }
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-danger">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-flat">VOIR TOUT</button>
                <button type="button" class="btn btn-default btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">ACCOUNT OFFICER</a></li>
                    <li><a href="#">AUDITEUR</a></li>
                    <li><a href="#">ADMINISTRATEURS</a></li>
                </ul>
            </div>
            <div class="box-header">
                <button data-toggle="modal" data-target="#modal-default" class="btn btn-flat btn-success">Ajouter un utilisateur</button>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                        <div class="col-sm-12">
                            <table id="myTable" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                <thead>
                                    
                                    <tr role="row">
                                        <th>N°</th>
                                        <th>NOM ET PRENOMS</th>
                                        <th>EMAIL</th>
                                        <th>DATE CREATION</th>
                                        <th>DERNIERE CONNEXION</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var u in Model)
                                    {
                                        <tr role="row" class="odd">
                                            <td class="">@count</td>
                                            <td>@u.Nom @u.Prenoms</td>
                                            <td>@u.Email</td>
                                            <td>@u.CreationDate.Value.ToShortDateString()</td>
                                            <td></td>


                                            <td>
                                                <div class="pull-right">
                                                    <a title="Modifier" href="@Url.Action("Edit", "DepositList", new { id = 0 })" class="btn btn-default"><i class="fa fa-edit"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        count++;
                                    }
                                        

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- /.box -->
        </div>
    </div>
</div>
@section scripts{
    <script src="~/AdminLTE/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminLTE/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
  $(function () {
    $('#myTable').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'info'        : true,
      'autoWidth'   : true
    })
  })
    </script>
}