﻿

.btn-primary {
  color: #fff;
  background-color: #605ca8;
  border-color: #7e7bb1;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #605ca8;
  border-color: #7e7bb1;
}
.btn-primary:hover {
  color: #fff;
  background-color: #605ca8;
  border-color: #7e7bb1;
}


