﻿@using (Html.BeginForm("Confirm", "Confirmations", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">CONFIRMATION DE TRANSACTION @ViewBag.DeclarationId</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @Html.Hidden("DeclId", ViewBag.DeclarationId as string)
                        <h4>Voulez-vous confirmer cette transaction?</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">CONFIRMER</button>
                    <button data-dismiss="modal" class="btn btn-default">RETOUR</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
}
