﻿@using (Html.BeginForm("Reject", "Confirmations", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">REJET DE TRANSACTION</h4>
                </div>                
                <div class="modal-body">
                    <div class="form-group">
                        @Html.Hidden("DeclId", ViewBag.DeclarationId as string)
                        @Html.Editor("reason", new { htmlAttributes = new { @class = "form-control",@placeholder="Raison du rejet" } })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Valider</button>
                    <button data-dismiss="modal" class="btn btn-default">RETOUR</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
}
