﻿@model IEnumerable<Company>
@using Banker.Models
@using Banker.Areas.BankAdmin.ViewModels

@{
    ViewBag.Title = "Liste des entreprises";
    ViewBag.Current = "enterprises";
    int count = 1;
}

@section styles{
    <link href="~/AdminLTE/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}


@using (Html.BeginForm("Add", "Enterprises"))
{
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Ajouter une entreprise</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("_AddEnterprisePartial", ViewBag.PartialVM as AddEnterpriseVM)
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-flat btn-danger">Valider</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
}

<div class="row">

    @if ((bool?)TempData["addSuccess"] == true)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check"></i> Fichier chargé</h4>
            <b>@TempData["items"].ToString()</b> nouveau(x) dépot(s) ajouté(s) avec succès.
        </div>
    }
    @if ((bool?)TempData["addSuccess"] == false)
    {
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check"></i> Echec</h4>
            Une erreur est survenue lors de la lecture du fichier
        </div>
    }
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-danger">          
            <div class="box-header">
                <button data-toggle="modal" data-target="#modal-default" class="btn btn-flat btn-success">Ajouter une société</button>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                        <div class="col-sm-12">
                            <table id="myTable" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                <thead>

                                    <tr role="row">
                                        <th>N°</th>
                                        <th>RAISON SOCIALE</th>
                                        <th>IFU</th>
                                        <th>NUMERO COMPTE</th>
                                        <th>CHARGE DE COMPTE</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Count() > 0)
                                    {
                                        foreach (var u in Model)
                                        {
                                            <tr role="row" class="odd">
                                                <td class="">@count</td>
                                                <td>@u.Nom </td>
                                                <td>@u.IFU</td>
                                                <td>@u.AccountNumber</td>
                                                <td>@u.AccountOfficer.Email</td>
                                                <td>
                                                    <div class="pull-right">
                                                        <a title="Modifier" href="@Url.Action("Edit", "DepositList", new { id = 0 })" class="btn btn-default"><i class="fa fa-edit"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                    



                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- /.box -->
        </div>
    </div>
</div>
@section scripts{
    <script src="~/AdminLTE/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminLTE/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
  $(function () {
    $('#myTable').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'info'        : true,
      'autoWidth'   : true
    })
  })
    </script>
}