﻿@using Banker.Models
@model List<ApplicationUser>
@{
    ViewBag.Title = "Utilisateurs";
    ViewBag.Current = "users";
    int count = 1;
}


<div class="row">
    <div class="col-xs-12">
        <div class="box box-default">
            <div class="box-header">

            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                        <div class="col-sm-12">
                            <table id="myTable" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                <thead>
                                    <tr role="row">
                                        <th>N°</th>
                                        <th>NOM ET PRENOMS</th>
                                        <th>EMAIL</th>
                                        <th>DATE CREATION</th>
                                        <th>DERNIERE CONNEXION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var u in Model)
                                    {
                                        <tr role="row" class="odd">
                                            <td class="">@count</td>
                                            <td>@u.Nom @u.Prenoms</td>
                                            <td>@u.Email</td>
                                            <td>@u.CreationDate.Value.ToShortDateString()</td>
                                            <td></td>
                                        </tr>
                                        count++;
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- /.box -->
        </div>
    </div>
</div>
@section scripts{
    <script src="~/AdminLTE/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminLTE/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
  $(function () {
    $('#myTable').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'info'        : true,
      'autoWidth'   : true
    })
  })
    </script>
}