﻿@model Banker.ViewModels.BankVM

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="row">
        <div class="box-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Rccm, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Rccm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rccm, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.Label("Logo de la banque", htmlAttributes: new { @class = "control-label" })
                <input type="file" name="UploadedFile" />
            </div>
        </div>
        
    </div>
}
