﻿@using Banker.Areas.DGI.ViewModels
@using Banker.Models
@model DashboardVM
@{
    ViewBag.Title = "Index";
    ViewBag.Current = "dashboard";
}

<section>
    <div class="row">
        <h5 class="col-md-3 col-sm-6 col-xs-12"><b>TRANSACTIONS</b></h5>
    </div>
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-spinner"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">En attente</span>
                    <span class="info-box-number">@Model.Pending<small></small></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-check"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Confirmées</span>
                    <span class="info-box-number">@Model.Approved<small></small></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-remove"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Rejetées</span>
                    <span class="info-box-number">@Model.Rejected<small></small></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-bank"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Collecte du jour</span>
                    <span class="info-box-number">@Banker.Helpers.PriceFormater.Format(Model.CollectedAmount)<small> F CFA</small></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->




    <div class="row">
        <!-- TABLE: LATEST ORDERS -->
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="box box-default ">
                <div class="box-header with-border">
                    <h3 class="box-title">Transactions récentes</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>Id Panier</th>
                                    <th>Société</th>
                                    <th>Montant</th>
                                    <th>Soumis le</th>
                                    <th>Statut</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Declarations != null && Model.Declarations.Count > 0)
                                {
                                    foreach (var d in Model.Declarations)
                                    {
                                        <tr>
                                            <td><a href="#">@d.CartId</a></td>
                                            <td>@d.Company.Nom</td>
                                            <td>@Banker.Helpers.PriceFormater.Format(d.Amount) CFA</td>
                                            <td>@d.CreatedDate.Value.ToString("dd-MM-yyyy à HH:mm")</td>
                                            @if (d.Status == DeclarationStatus.PENDING)
                                            {
                                                <td><span class="label label-warning">EN ATTENTE</span></td>
                                            }
                                            @if (d.Status == DeclarationStatus.CONFIRMED)
                                            {
                                                <td><span class="label label-success">CONFIRME PAR LA BANQUE</span></td>
                                            }
                                            
                                            @if (d.Status == DeclarationStatus.APPROVED)
                                            {
                                                <td><span class="label label-success">APPROUVE</span></td>
                                            }
                                            @if (d.Status == DeclarationStatus.REJECTED)
                                            {
                                                <td><span class="label label-danger">REJETE</span></td>
                                            }
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">

                    <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">Voir plus</a>
                </div>
                <!-- /.box-footer -->
            </div>
        </div>

        <!-- /.box -->
    </div>

    <!-- /.row -->
    <!-- Main row -->
    <!-- /.row -->
    @section scripts{

        <script>

            $(function () {
                /* ChartJS
                 * -------
                 * Here we will create a few charts using ChartJS
                 */

                //--------------
                //- AREA CHART -
                //--------------

                // Get context with jQuery - using jQuery's .get() method.
                var areaChartCanvas = $('#areaChart').get(0).getContext('2d')
                // This will get the first returned node in the jQuery collection.
                var areaChart = new Chart(areaChartCanvas)

                var areaChartData = {
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                    datasets: [
                        {
                            label: 'Electronics',
                            fillColor: 'rgba(210, 214, 222, 1)',
                            strokeColor: 'rgba(210, 214, 222, 1)',
                            pointColor: 'rgba(210, 214, 222, 1)',
                            pointStrokeColor: '#c1c7d1',
                            pointHighlightFill: '#fff',
                            pointHighlightStroke: 'rgba(220,220,220,1)',
                            data: [65, 59, 80, 81, 56, 55, 40]
                        },
                        {
                            label: 'Digital Goods',
                            fillColor: 'rgba(60,141,188,0.9)',
                            strokeColor: 'rgba(60,141,188,0.8)',
                            pointColor: '#3b8bba',
                            pointStrokeColor: 'rgba(60,141,188,1)',
                            pointHighlightFill: '#fff',
                            pointHighlightStroke: 'rgba(60,141,188,1)',
                            data: [28, 48, 40, 19, 86, 27, 90]
                        }
                    ]
                }

                var areaChartOptions = {
                    //Boolean - If we should show the scale at all
                    showScale: true,
                    //Boolean - Whether grid lines are shown across the chart
                    scaleShowGridLines: false,
                    //String - Colour of the grid lines
                    scaleGridLineColor: 'rgba(0,0,0,.05)',
                    //Number - Width of the grid lines
                    scaleGridLineWidth: 1,
                    //Boolean - Whether to show horizontal lines (except X axis)
                    scaleShowHorizontalLines: true,
                    //Boolean - Whether to show vertical lines (except Y axis)
                    scaleShowVerticalLines: true,
                    //Boolean - Whether the line is curved between points
                    bezierCurve: true,
                    //Number - Tension of the bezier curve between points
                    bezierCurveTension: 0.3,
                    //Boolean - Whether to show a dot for each point
                    pointDot: false,
                    //Number - Radius of each point dot in pixels
                    pointDotRadius: 4,
                    //Number - Pixel width of point dot stroke
                    pointDotStrokeWidth: 1,
                    //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
                    pointHitDetectionRadius: 20,
                    //Boolean - Whether to show a stroke for datasets
                    datasetStroke: true,
                    //Number - Pixel width of dataset stroke
                    datasetStrokeWidth: 2,
                    //Boolean - Whether to fill the dataset with a color
                    datasetFill: true,
                    //String - A legend template
                    legendTemplate: '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].lineColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
                    //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                    maintainAspectRatio: true,
                    //Boolean - whether to make the chart responsive to window resizing
                    responsive: true
                }

                //Create the line chart
                areaChart.Line(areaChartData, areaChartOptions)

                //-------------
                //- LINE CHART -
                //--------------
                var lineChartCanvas = $('#lineChart').get(0).getContext('2d')
                var lineChart = new Chart(lineChartCanvas)
                var lineChartOptions = areaChartOptions
                lineChartOptions.datasetFill = false
                lineChart.Line(areaChartData, lineChartOptions)

                //-------------
                //- PIE CHART -
                //-------------
                // Get context with jQuery - using jQuery's .get() method.
                var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
                var pieChart = new Chart(pieChartCanvas)
                var PieData = [
                    {
                        value: 700,
                        color: '#f56954',
                        highlight: '#f56954',
                        label: 'Chrome'
                    },
                    {
                        value: 500,
                        color: '#00a65a',
                        highlight: '#00a65a',
                        label: 'IE'
                    },
                    {
                        value: 400,
                        color: '#f39c12',
                        highlight: '#f39c12',
                        label: 'FireFox'
                    },
                    {
                        value: 600,
                        color: '#00c0ef',
                        highlight: '#00c0ef',
                        label: 'Safari'
                    },
                    {
                        value: 300,
                        color: '#3c8dbc',
                        highlight: '#3c8dbc',
                        label: 'Opera'
                    },
                    {
                        value: 100,
                        color: '#d2d6de',
                        highlight: '#d2d6de',
                        label: 'Navigator'
                    }
                ]
                var pieOptions = {
                    //Boolean - Whether we should show a stroke on each segment
                    segmentShowStroke: true,
                    //String - The colour of each segment stroke
                    segmentStrokeColor: '#fff',
                    //Number - The width of each segment stroke
                    segmentStrokeWidth: 2,
                    //Number - The percentage of the chart that we cut out of the middle
                    percentageInnerCutout: 50, // This is 0 for Pie charts
                    //Number - Amount of animation steps
                    animationSteps: 100,
                    //String - Animation easing effect
                    animationEasing: 'easeOutBounce',
                    //Boolean - Whether we animate the rotation of the Doughnut
                    animateRotate: true,
                    //Boolean - Whether we animate scaling the Doughnut from the centre
                    animateScale: false,
                    //Boolean - whether to make the chart responsive to window resizing
                    responsive: true,
                    // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                    maintainAspectRatio: true,
                    //String - A legend template
                    legendTemplate: '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<segments.length; i++){%><li><span style="background-color:<%=segments[i].fillColor%>"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>'
                }
                //Create pie or douhnut chart
                // You can switch between pie and douhnut using the method below.
                pieChart.Doughnut(PieData, pieOptions)

                //-------------
                //- BAR CHART -
                //-------------
                var barChartCanvas = $('#barChart').get(0).getContext('2d')
                var barChart = new Chart(barChartCanvas)
                var barChartData = areaChartData
                barChartData.datasets[1].fillColor = '#00a65a'
                barChartData.datasets[1].strokeColor = '#00a65a'
                barChartData.datasets[1].pointColor = '#00a65a'
                var barChartOptions = {
                    //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
                    scaleBeginAtZero: true,
                    //Boolean - Whether grid lines are shown across the chart
                    scaleShowGridLines: true,
                    //String - Colour of the grid lines
                    scaleGridLineColor: 'rgba(0,0,0,.05)',
                    //Number - Width of the grid lines
                    scaleGridLineWidth: 1,
                    //Boolean - Whether to show horizontal lines (except X axis)
                    scaleShowHorizontalLines: true,
                    //Boolean - Whether to show vertical lines (except Y axis)
                    scaleShowVerticalLines: true,
                    //Boolean - If there is a stroke on each bar
                    barShowStroke: true,
                    //Number - Pixel width of the bar stroke
                    barStrokeWidth: 2,
                    //Number - Spacing between each of the X value sets
                    barValueSpacing: 5,
                    //Number - Spacing between data sets within X values
                    barDatasetSpacing: 1,
                    //String - A legend template
                    legendTemplate: '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
                    //Boolean - whether to make the chart responsive
                    responsive: true,
                    maintainAspectRatio: true
                }

                barChartOptions.datasetFill = false
                barChart.Bar(barChartData, barChartOptions)
            })
        </script>
    }
</section>
