﻿@model IEnumerable<Company>
@using Banker.Models
@using Banker.Areas.BankAdmin.ViewModels

@{
    ViewBag.Title = "Liste des entreprises";
    ViewBag.Current = "enterprises";
    int count = 1;
}

@section styles{
    <link href="~/AdminLTE/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}


<div class="row">
    <div class="col-xs-12">
        <div class="box box-danger">
            <div class="box-header">
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                        <div class="col-sm-12">
                            <table id="myTable" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                <thead>

                                    <tr role="row">
                                        <th>N°</th>
                                        <th>RAISON SOCIALE</th>
                                        <th>IFU</th>
                                        <th>NUMERO COMPTE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Count() > 0)
                                    {
                                        foreach (var u in Model)
                                        {
                                            <tr role="row" class="odd">
                                                <td class="">@count</td>
                                                <td>@u.Nom </td>
                                                <td>@u.IFU</td>
                                                <td>@u.AccountNumber</td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- /.box -->
        </div>
    </div>
</div>
@section scripts{
    <script src="~/AdminLTE/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminLTE/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
  $(function () {
    $('#myTable').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'info'        : true,
      'autoWidth'   : true
    })
  })
    </script>
}