﻿
@using (Html.BeginForm("UploadEnterprises", "Enterprises",FormMethod.Post,new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="row">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Charger la liste des entreprises</h4>
                </div>
                <div class="modal-body">
                    <input type="file" name="uploadedFile" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Valider</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>        
    </div>
}
