﻿@using Banker.Areas.DGI.ViewModels
@using Banker.Models
@using Banker.Helpers
@model ReportingVM
@{
    ViewBag.Title = "Reporting";
    ViewBag.Current = "reporting";
}

<div class="row">
    @section styles
    {
        <link href="~/AdminLTE/select2/dist/css/select2.min.css" rel="stylesheet" />
    }

    <div class="box box-default" style="width:50%;margin:auto">
        <div class="box-header with-border">
            <h2 class="box-title text-center">RAPPORT DES TELEPAIEMENTS</h2>
        </div>
        <div class="box-body">
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    <label>Date début - Date fin</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" name="daterange" id="reservation">
                    </div>
                </div>

                <div class="form-group">
                    <label>Statut</label>
                    <select name="status" class="form-control">
                        <option value="">Tout</option>
                        <option>@DeclarationStatus.APPROVED</option>
                        <option>@DeclarationStatus.CONFIRMED</option>
                        <option>@DeclarationStatus.PENDING</option>
                        <option>@DeclarationStatus.REJECTED</option>
                    </select>
                </div>

                <hr />
                <div class="form-group">
                    <button class="btn btn-primary">Rechercher</button>
                </div>

            }

            @section scripts{
                <script src="~/AdminLTE/select2/dist/js/select2.full.min.js"></script>
                <script>
                    //Date range picker
                    //Initialize Select2 Elements
                    $('.select2').select2({
                        placeholder: 'Choisir une entreprise'
                    });
                    $('#reservation').daterangepicker()
                </script>
                <script src="~/AdminLTE/datatables.net/js/jquery.dataTables.min.js"></script>
                <script src="~/AdminLTE/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
                <script>
              $(function () {
                $('#myTable').DataTable({
                  'paging'      : true,
                  'lengthChange': true,
                  'searching'   : true,
                  'info'        : true,
                  'autoWidth'   : true
                })
              })
                </script>
            }
        </div>
    </div>
</div>
<br />
<div class="row">
    @if ((bool)ViewBag.IsPost == true)
    {
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header">
                    <button class="btn btn-primary">Exporter en Excel</button>
                    <label>@Model.Declarations.Count paiement(s) trouvé(s)</label>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                            <div class="col-sm-12">
                                <table id="myTable" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                    <thead>

                                        <tr role="row">
                                            <th>N° PANIER</th>
                                            <th>RAISON SOCIALE</th>
                                            <th>IFU</th>
                                            <th>TELEPHONE</th>
                                            <th>DATE DE SOUMISSION</th>
                                            <th>MONTANT</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Declarations != null && Model.Declarations.Count() > 0)
                                        {
                                            foreach (var d in Model.Declarations)
                                            {
                                                <tr role="row" class="odd">
                                                    <td>@d.CartId</td>
                                                    <td>@d.Company.Nom</td>
                                                    <td>@d.Company.IFU</td>
                                                    <td></td>
                                                    <td>@d.CreatedDate.Value.ToShortDateString()</td>
                                                    <td>@PriceFormater.Format(d.Amount) F CFA</td>
                                                    @if (d.Status == DeclarationStatus.PENDING)
                                                    {
                                                        <td>
                                                            En attente de confirmation
                                                        </td>
                                                    }
                                                    else if (d.Status == DeclarationStatus.REJECTED)
                                                    {
                                                        <td class="text-red">
                                                            Rejeté pour @d.RejectionReason par @d.Validator.Email
                                                        </td>
                                                    }
                                                    else if (d.Status == DeclarationStatus.APPROVED)
                                                    {
                                                        <td class="text-green">
                                                            Approuvée par @d.Validator.Email
                                                        </td>
                                                    }
                                                    else if (d.Status == DeclarationStatus.CONFIRMED)
                                                    {
                                                        <td>
                                                            Approuvée par @d.Validator.Email
                                                        </td>
                                                    }

                                                </tr>
                                            }
                                        }




                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <!-- /.box -->
            </div>
        </div>
    }
</div>


