﻿@model AddEnterpriseVM
@using Banker.Areas.BankAdmin.ViewModels

@{ 
    //Model.BankId = Request.Params["id"];
}
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="row">
        <div class="box-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IFU, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.IFU, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IFU, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AccountNumber, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
            </div>
            
            <div class="form-group">
                @Html.LabelFor(x => x.AccountOfficerEmail, new { @class = "control-label" })
                @Html.DropDownListFor(x => x.AccountOfficerEmail, Model.AccountOfficers, "Choisir le chargé de compte", new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.AccountOfficerEmail, "", new { @class = "text-danger" })
            </div>
        </div>
        
    </div>
}
