﻿@model IEnumerable<Banker.Models.Bank>
@using Banker.ViewModels

@{
    ViewBag.Title = "Index";
    int count = 1;
}

@using (Html.BeginForm("Create", "Banks", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Ajouter une banque</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("_AddBankPartial",new BankVM())
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-flat btn-info">Valider</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-danger">
            <div class="box-header">
                <button data-toggle="modal" data-target="#modal-default" class="btn btn-flat btn-info">Ajouter une banque</button>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                        <div class="col-sm-12">
                            <table id="myTable" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                <thead>

                                    <tr role="row">
                                        <th>N°</th>
                                        <th>NOM</th>
                                        <th>RCCM</th>
                                        <th>DATE CREATION</th>
                                        <th></th>
                                        
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var b in Model)
                                    {
                                        <tr role="row" class="odd">
                                            <td>@count</td>
                                            <td>@b.Name</td>
                                            <td>@b.Rccm</td>
                                            <td>@b.CreatedDate.Value.ToShortDateString()</td>
                                            <td>
                                                <div class="pull-right">
                                                    <a title="Modifier" href="@Url.Action("Edit", "Banks", new { id = @b.Id })" class="btn btn-flat btn-default"><i class="fa fa-edit"></i></a>
                                                    <a title="Details" href="@Url.Action("details", "Banks", new { area = "admin", id = @b.Id })" class="btn btn-flat btn-info "><i class="fa fa-info"></i> </a>
                                                    <a title="Supprimer" href="@Url.Action("delete", "Banks", new { area = "admin", id = @b.Id })" class="btn btn-flat btn-success "><i class="fa fa-trash"></i> </a>
                                                </div>
                                            </td>
                                        </tr>
                                        count++;
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- /.box -->
        </div>
    </div>
</div>
@section scripts{
    <script src="~/AdminLTE/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminLTE/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
  $(function () {
    $('#myTable').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'info'        : true,
      'autoWidth'   : true
    })
  })
    </script>
}
