﻿@model BankDetailsVM
@using Banker.ViewModels
@{
    ViewBag.Title = "Details";
    string bankId = Url.RequestContext.RouteData.Values["id"].ToString();
    int count = 1;
}

@using (Html.BeginForm("AddBankUser", "Banks", FormMethod.Post))
{
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Ajouter un utilisateur pour cette banque</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("_AddBankUserPartial", new AddBankUserVM() {BankId= bankId})
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-flat btn-primary">Valider</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
}


<div class="row">
    <div class="col-md-3">

        <!-- Profile Image -->
        <div class="box box-default">
            <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-circle" src="@Model.Bank.Logo" alt="User profile picture">

                <h3 class="profile-username text-center">@Model.Bank.Name</h3>

                <p class="text-muted text-center">@Model.Bank.Adresse</p>

                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Utilisateurs</b> <a class="pull-right">@Model.Users.Count</a>
                    </li>
                    <li class="list-group-item">
                        <b>Instructions en attente</b> <a class="pull-right">@Model.Pending</a>
                    </li>
                    <li class="list-group-item">
                        <b>Instructions traitées</b> <a class="pull-right">@Model.Approved</a>
                    </li>
                    <li class="list-group-item">
                        <b>Total collecté</b> <a class="pull-right">@Model.CollectedAmount CFA</a>
                    </li>
                </ul>

                <a href="@Url.Action("Edit",new {Id=Model.Bank.Id })" class="btn btn-primary btn-block"><b>Modifier</b></a>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <!-- About Me Box -->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Informations</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <strong><i class="fa fa-phone margin-r-5"></i> Telephone</strong>

                <p class="text-muted">
                    @Model.Bank.PhoneNumber
                </p>

                <hr>

                <strong><i class="fa fa-map-marker margin-r-5"></i> Adresse</strong>

                <p class="text-muted">@Model.Bank.Adresse</p>

                <hr>
                <strong><i class="fa fa-file-text-o margin-r-5"></i> Email</strong>

                <p><a href="mailto:cfcbenin@ubagroup.com">@Model.Bank.Email</a></p>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#activity" data-toggle="tab">UTILISATEURS</a></li>
                @*<li><a href="#timeline" data-toggle="tab">Transactions</a></li>
                <li><a href="#settings" data-toggle="tab">Paramètres</a></li>*@
            </ul>
            <div class="tab-content">
                <div class="active tab-pane" id="activity">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                            <div class="col-sm-12">
                                <div>
                                    <button data-toggle="modal" data-target="#modal-default" class="btn btn-primary"></i> Ajouter un utilisateur</button>
                                </div>
                                <br />
                                <table class="table table-striped">
                                    <thead>

                                        <tr role="row">
                                            <th>N°</th>
                                            <th>NOM ET PRENOMS</th>
                                            <th>EMAIL</th>
                                            <th>ROLE</th>
                                            <th>DATE CREATION</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var u in Model.Users)
                                        {
                                            <tr role="row" class="odd">
                                                <td>@count</td>
                                                <td>@u.Nom @u.Prenoms</td>
                                                <td>@u.Email</td>
                                                <td>@u.Profil</td>
                                                <td>@u.CreationDate.Value.ToShortDateString()</td>
                                                <td>
                                                    <a title="Supprimer" href="@Url.Action("DeleteBankUser",new {userId=u.Id,bankId=bankId })"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                        
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                   
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="timeline">
                    
                </div>
                <!-- /.tab-pane -->

                <div class="tab-pane" id="settings">
                   
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
</div>
