﻿@model Banker.Models.Bank

@{
    ViewBag.Title = "Modification";
}

<div class="box box-default" style="width:50%">
    <div class="box-header with-border">
        <h3 class="box-title">Modifier @Model.Name</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
        <div class="box-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.CreatedDate)
            @Html.HiddenFor(model => model.Logo)
            <div class="form-group">

                    @Html.Label("Nom de la banque", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
               
            </div>
            <div class="form-group"> 
                    @Html.Label("Téléphone", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
              
            </div>
            <div class="form-group">
                    @Html.Label("Email", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                    @Html.Label("Adresse", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Adresse, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Adresse, "", new { @class = "text-danger" })
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <input type="submit" value="Valider" class="btn btn-primary" />
        </div>
        <!-- /.box-footer -->
        }
</div>











